* {
    margin: 0;
    padding: 0;
    border: 0;
    transition: 0.3s; 
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.workspace {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: white;

}

.uscore {
    font-size: 4em;
    position: relative;
    top: 17px;
    left: 70px;
}
.uscore .tipo{
    position: absolute;
    bottom: -20px;
    font-size: 0.5em;
    left: 10px;
    color: rgb(242, 103, 84);
}
.workspace h3{
    padding: 20px;
    padding-left:50px; 
    padding-top: 50px;

}
.studentSpace{
    padding:20px;
    padding-top: 50px;
    width: 100%;
    min-height: 200px;


}
.student-info{
    overflow-x: scroll;
    width: 80%;
    margin: auto;
    height: 150px;
}
.studentSpace h2{
    position: relative;
    padding: 20px;
}
table{
    margin:auto;
    width: 1000px;
}
td{
    text-align: center;
}
td:nth-child(2n){
    background-color: rgba(234, 220, 217,0.5);
}
.volver{
    color: black;
}
.thead th{
    color:rgb(242, 103, 84);


}
tr:hover{transform:scale(1.05)}
.thead:hover{transform:scale(1)}
.thead:nth-child(1){
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

}
.google_login {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 500;
    top: 10%;
    transform: translateY(70%);
    border-radius: 100px;
    background-color: rgb(242, 103, 84);
    box-shadow: -6px -22px 66px -48px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
}
.nombreEstudiante h3{
    color:white;
    position: relative;
    left: 30%;
    top: 7px;

}
.google_login h3{
    position: relative;
    right: 10%;
    top: 7px;

}
.google_login h3 a{
    color: white;
    text-decoration: none;
}
footer {
    position: fixed;
    bottom: 0px;
    z-index: 1500;
    width: 100%;
    height: 80px;
    background-color: rgb(45, 49, 66);
    color: white;
    padding: 15px;
    padding-left: 30px;
    box-sizing: border-box;
}

@media only screen and (max-width: 768px){

}