* {
    margin: 0;
    padding: 0;
    border: 0;
    transition: 0.3s;
    font-family: sans-serif;
}
a{
   text-decoration:none;
   color:rgb(45, 49, 66);
}


body {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.workspace {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: white;
}

.uscore {
    font-size: 4em;
    position: relative;
    top: 17px;
    left: 70px;
}

.google_login {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 500;
    top: 10%;
    border-radius: 100px;
    background-color: rgb(242, 103, 84);
    box-shadow: -6px -22px 66px -48px rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.google_login h3 {
    font-size: 2em;
    position: relative;
    top: -30%;
    color: white;
}

.g-signin2 {
    position: relative;
    top: -10%;
}

.user_type {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 80%;
    z-index: 1000;
    border-radius: 100px;
    background-color: white;
    box-shadow: -6px -22px 66px -48px rgba(0, 0, 0, 1);
}

.user_type p {
    color: rgb(79, 93, 117);
    position: relative;
    top: 10px;
    left: 50%;
    font-weight: bold;
    transform: scale(1.2);
}

footer {
    position: fixed;
    bottom: 0px;
    z-index: 1500;
    width: 100%;
    height: 80px;
    background-color: rgb(45, 49, 66);
    color: white;
    padding: 15px;
    padding-left: 30px;
    box-sizing: border-box;
}