* {
    margin: 0;
    padding: 0;
    border: 0;
    transition: 0.3s;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.workspace {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: white;
}

.uscore {
    font-size: 4em;
    position: relative;
    top: 17px;
    left: 70px;
}

.google_login {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 500;
    top: 10%;
    border-radius: 100px;
    background-color: rgb(242, 103, 84);
    box-shadow: -6px -22px 66px -48px rgba(0, 0, 0, 1);
}

.google_login:hover {
    transform: translateY(-10px);
}

.user_type {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    top: 20%;
    border-radius: 100px;
    background-color: white;
    box-shadow: -6px -22px 66px -48px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
}

.select_type {
    background-color: white;
    width: 60%;
    height: 40vh;
    box-shadow: -6px -22px 66px -48px rgba(0, 0, 0, 1);
    border-radius: 100px;
    position: absolute;
    bottom: 160px;
    z-index: 1500;
    display: flex;
}

.form_login {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_student,
.btn_teacher {
    width: 100px;
    height: 50px;
    border-radius: 50px;
    transform: scale(1.5);
    color: white;
    font-weight: bold;
    position: relative;
    cursor:pointer;
}

.btn_student:hover,
.btn_teacher:hover {
    transform: scale(1.7);
}

.btn_teacher {
    background-color: rgb(241, 103, 84);
    left: 10%;
}

.btn_student {
    background-color: rgb(79, 93, 117);
    right: 10%;
}

.div_img_students {
    width: 550px;
    height: 400px;
    position: absolute;
    top: -60px;
    z-index: 1250;
}

.img_students {
    width: 100%;
    height: 100%;
    transform: scale(0.8);
}

footer {
    position: fixed;
    bottom: 0px;
    z-index: 1500;
    width: 100%;
    height: 80px;
    background-color: rgb(45, 49, 66);
    color: white;
    padding: 15px;
    padding-left: 30px;
    box-sizing: border-box;
}