* {
    margin: 0;
    padding: 0;
    border: 0;
    transition: 0.3s;
    box-sizing: border-box;
    position: relative;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.workspace {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: white;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

}
.workspace p{
    margin-top: 50px;
    margin-left: 50px;

}
.workspace p a{
    color: black;
    text-decoration: none;
}
.workspace .subject-name{
    margin-top: 20px;
    margin-left: 50px;
}

.uscore {
    font-size: 4em;
    position: relative;
    top: 17px;
    left: 70px;
}
.uscore .tipo{
    position: absolute;
    bottom: -20px;
    font-size: 0.5em;
    left: 10px;
    color: rgb(242, 103, 84);
}


.studentSpace{
    padding:20px;
    padding-top: 50px;
    padding-bottom: 150px;
    width: 100%;
    min-height: 200px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;

}

.edit{
    text-decoration: none;
    color: rgb(242, 103, 84);
    margin-left: 50px;
    cursor: pointer;
   
}

.delete{
    text-decoration: none;
    color: rgb(242, 103, 84);
    margin-left: 20px;
    cursor: pointer;
    
}
.theTable{
    height: 250px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    margin-top: 50px;
}
.studentTable{
    width: 1300px;
}
.studentTable td{
    text-align: center;
}
.google_login {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 500;
    top: 10%;
    transform: translateY(70%);
    border-radius: 100px;
    background-color: rgb(242, 103, 84);
    box-shadow: -6px -22px 66px -48px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
}

.google_login h3{
    position: relative;
    right: 10%;
    top: 7px;

}
.google_login h3 a{
    color: white;
    text-decoration: none;
}
.nombreEstudiante h3{
    color:white;
    position: relative;
    left: 30%;
    top: 7px;

}
footer {
    position: relative;
    margin-top: auto;
    z-index: 1500;
    width: 100%;
    height: 80px;
    background-color: rgb(45, 49, 66);
    color: white;
    padding: 15px;

    box-sizing: border-box;
}



@media only screen and (max-width: 768px){

}