* {
    margin: 0;
    padding: 0;
    border: 0;
    transition: 0.3s;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.workspace {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: white;
    overflow-y: auto;

}

.uscore {
    font-size: 4em;
    position: relative;
    top: 17px;
    left: 70px;
}
.uscore .tipo{
    position: absolute;
    bottom: -20px;
    font-size: 0.5em;
    left: 10px;
    color: rgb(242, 103, 84);
}
.workspace h3, .workspace .newSubject {
    padding: 20px;
    padding-left:50px; 
    padding-top: 50px;
}
.newSubject{
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
}
.submitNew{
    width: 100px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 5px;
    background-color: rgb(242, 103, 84);
    color: white;
    cursor:pointer;
}
.newSubject p input{
    width: 300px;
    margin-left: 4px;
    margin-right: 4px;
    border: 2px solid gray;
    border-radius: 5px;
}

.studentSpace{
    padding:20px;
    padding-top: 50px;
    padding-bottom: 150px;
    width: 100%;
    min-height: 200px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;

}
input.inputSubject{
    border: 2px solid rgb(200,200,200,0.5);
    position: relative;
    width: 300px;
    height: 100px;
    margin: 10px;
    background-color: white;
   
    border-radius: 30px;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    text-transform: uppercase;
   


}
.inputSubject:hover{
    transform: scale(1.1);
    z-index: 5000;
}
.google_login {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 500;
    top: 10%;
    transform: translateY(70%);
    border-radius: 100px;
    background-color: rgb(242, 103, 84);
    box-shadow: -6px -22px 66px -48px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
}
.nombreEstudiante h3{
    color:white;
    position: relative;
    left: 30%;
    top: 7px;

}
.google_login h3{
    position: relative;
    right: 10%;
    top: 7px;

}
.google_login h3 a{
    color: white;
    text-decoration: none;
}
footer {
    position: relative;
    margin-top: auto;
    z-index: 1500;
    width: 100%;
    height: 80px;
    background-color: rgb(45, 49, 66);
    color: white;
    padding: 15px;

    box-sizing: border-box;
}

@media only screen and (max-width: 768px){

}